@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4BB;
    font-family: 'Roboto Mono', monospace;
    color: rgb(243, 233, 210);
}

hr {
    width: 75%;
    align-self: center;
    margin: auto;
    height: 2px;
    background-color: rgb(243, 233, 210);
    box-shadow: 6px 3px 3px #006;
}

.intro-code pre {
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    border: white 1px solid;
}

code {
    white-space: normal;
    color: white !important;
}

.icons {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 3px #006;
    font-size: 30px;
}

.icons i {
    margin-left: 17px;
    margin-right: 5px;
    color: rgb(243, 233, 210);
    font-size: 35px;
}

.icons a {
    text-decoration: none;
    color: rgb(243, 233, 210);
}

.intro-code {
    width: 30%;
    margin: auto;
    padding: 20px;
    min-width: 400px;
}

.name {
    color: rgb(243, 233, 210);
    font-size: 100px;
    text-shadow: 6px 3px 3px #006;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.typed-cursor {
    color: rgb(243, 233, 210);
    font-size: 20px;
}

.construction {
    text-align: center;
    font-size: 50px;
}

/* Code Styling */

.variable_type {
    color: rgb(46, 95, 255);
}

.string {
    color: rgb(255, 158, 40);
}

.variable_name {
    color: deepskyblue;
}

.comment {
    color: green;
}

@media only screen and (max-width: 650px) {

    hr {
        width: 90%;
    }

    .header {
        text-align: center;
        padding: 30px 30px 0 30px;
    }

    .intro-code {
        width: 400px;
    }

    .name {
        text-align: center;
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
    }
}